In [1]:
# import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt

data = pd.read_csv("C:/Users/g_m/Desktop/Programming/analysis/admittance.csv")
data.head()

    SAT Admitted
0  1363       No
1  1792      Yes
2  1954      Yes
3  1653       No
4  1593       No

In [2]:
data.describe()

               SAT
count   168.000000
mean   1695.273810
std     183.019017
min    1334.000000
25%    1547.500000
50%    1691.500000
75%    1844.500000
max    2050.000000